---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="howzit">Howzit</h1>
  <h2>Ala Moana Park</h2>
  <div id="waveInfo">
    <p id="minScore">Surfline min score:</p>
    <p id="maxScore">Surfline max score:</p>
    <p id="humanRelation">Human relation:</p>
  </div>
  <div id="ratingInfo">
    <p id="rating">Rating:</p>
  </div>
  <div id="windInfo">
    <p id="wind">Wind Speed:</p>
  </div>
  <div id="tidesInfo">
    <p id="tide">Tide Height:</p>
  </div>
  <div id="weatherInfo">
    <p id="weather">Weather Temperature:</p>
  </div>
  <script src="/src/home.ts"></script>
</BaseLayout>
