---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="howzit">Howzit</h1>
  <div id="waveInfo">
    <h2>Ala Moana Park</h2>
    <p id="minScore">Surfline min score:</p>
    <p id="maxScore">Surfline max score:</p>
    <p id="humanRelation">Human relation:</p>
  </div>
  <script src="/src/home.ts"></script>
</BaseLayout>
