---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Welcome to Go or No!</title>
  </head>

  <body>
    <h1>Welcome to Go or No!</h1>
    <h2>Please login to continue.</h2>
    <input />
    <input type="password" />
    <button id="login-submit-btn">Submit</button>
    <script src="/src/index.ts"></script>
  </body>
</html>
